<nav class="navbar">
  <button class="burger" (click)="menuOpen = !menuOpen">☰</button>

  <div class="nav-links" [class.show]="menuOpen">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a>
    <a routerLink="/diagnostic-stress" routerLinkActive="active">Diagnostic</a>

    <a *ngIf="auth.isAdmin()" routerLink="/admin/informations" routerLinkActive="active">Admin Infos</a>
    <a *ngIf="auth.isAdmin()" routerLink="/admin/stress-config" routerLinkActive="active">Config Diagnostic</a>
    <a *ngIf="auth.isAdmin()" routerLink="/admin/users" routerLinkActive="active">Gestion utilisateurs</a>

    <span class="user-info" *ngIf="auth.isLoggedIn(); else guestLinks">
      Connecté en tant que {{ auth.getUser()?.email }} |
      <a href="#" (click)="logout()">Déconnexion</a> |
      <a routerLink="/account">Gestion du compte</a>
    </span>

    <ng-template #guestLinks>
      <a routerLink="/login" routerLinkActive="active">Connexion</a> |
      <a routerLink="/register" routerLinkActive="active">Inscription</a>
    </ng-template>
  </div>
</nav>

<hr />

<main class="content">
  <router-outlet></router-outlet>
</main>
